{% extends 'base/my_style.html' %}
{% block content %}


{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>

<h1>Pending List</h1>
<a href="{% url 'create-task' %}">Create New Task</a>

<form method="GET">
    <input type="text" name="search-area" value="{{search_value}}">
    <input type="submit" value="Search">
</form>

<table>
    <tr>
        <th>Items</th>
        <th></th>
        <th></th>
    </tr>

    {% for task in tasks %}
    <tr>
        <td>
            {{task.title}}
        </td>
        <!--
        <td>
            <a href="{% url 'task' task.id %}">See details</a>
        </td>
        -->
        <td>
            <a href="{% url 'edit-task' task.id %}">Edit</a>
        </td>
        <td>
            <a href="{% url 'delete-task' task.id %}">Delete</a>
        </td>
    </tr>
    
    {% empty %}
    <h3>There are no items in this list</h3>

    {% endfor %}
</table>

{% endblock content %}